In [1]:
import pandas as pd

In [4]:
df_historical_data = pd.read_csv('fifa_worldCup_matches.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')

## Cleaning data

In [5]:
df_fixture['home']=df_fixture['home'].str.strip()
df_fixture['away']=df_fixture['away'].str.strip()

In [8]:
##df_fixture[df_fixture['home'].isnull()]
df_fixture.dropna(inplace=True)

In [9]:
##df_historical_data[df_historical_data['home'].isnull()]
df_historical_data.dropna(inplace=True)

In [12]:
df_historical_data.drop_duplicates(inplace=True)

In [11]:
df_historical_data.sort_values('year', inplace=True)
df_historical_data

             home         score          away  year
0         France            4–1        Mexico  1930
8         Brazil            4–0       Bolivia  1930
1      Argentina            1–0        France  1930
2          Chile            3–0        Mexico  1930
3          Chile            1–0        France  1930
..            ...           ...           ...   ...
896       Russia   2–2 (a.e.t.)       Croatia  2018
897       France            1–0       Belgium  2018
869  South Korea            1–2        Mexico  2018
868       Sweden            1–0   South Korea  2018
900       France            4–2       Croatia  2018

[901 rows x 4 columns]

In [13]:
df_historical_data[df_historical_data['home'].str.contains('Sweden') &
                                  df_historical_data['away'].str.contains('Austria')]

       home   score      away  year
37  Sweden   w/o[a]   Austria  1938

In [15]:
delete_index=df_historical_data[df_historical_data['home'].str.contains('Sweden') &
                                  df_historical_data['away'].str.contains('Austria')].index

df_historical_data.drop(index=delete_index, inplace=True)

In [17]:
# cleanning score and home/away columns
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)
df_historical_data['home'] = df_historical_data['home'].str.strip() # clean blank spaces: Yugoslavia twice
df_historical_data['away'] = df_historical_data['away'].str.strip()

In [19]:
# splitting score columns into home and away goals and dropping score column
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)
df_historical_data.drop('score', axis=1, inplace=True)

In [21]:
# renaming columns and changing data types
df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 
                                   'year':'Year'}, inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals':int, 'Year': int})

In [24]:
# creating new column "totalgoals"
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']

Exporting clean dataframes

In [25]:
df_historical_data.to_csv('clean_fifa_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)

Verification

In [26]:
# verify number of matches per competition
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

In [27]:
# verify data collected for a team
print(df_historical_data[df_historical_data['HomeTeam'].str.contains('Brazil')])
print(df_historical_data[df_historical_data['AwayTeam'].str.contains('Brazil')])

    HomeTeam        AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
8     Brazil         Bolivia  1930          4          0           4
41    Brazil          Poland  1938          6          5          11
49    Brazil  Czechoslovakia  1938          2          1           3
52    Brazil          Sweden  1938          4          2           6
48    Brazil  Czechoslovakia  1938          1          1           2
..       ...             ...   ...        ...        ...         ...
835   Brazil     Netherlands  2014          0          3           3
862   Brazil     Switzerland  2018          1          1           2
863   Brazil      Costa Rica  2018          2          0           2
889   Brazil          Mexico  2018          2          0           2
894   Brazil         Belgium  2018          1          2           3

[82 rows x 6 columns]
             HomeTeam AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
6          Yugoslavia   Brazil  1930          2          1           3
18              Spain   Brazil  1934          3          1           4
51              Italy   Brazil  1938          2          1           3
75            Uruguay   Brazil  1950          2          1           3
97            Hungary   Brazil  1954          4          2           6
183           Hungary   Brazil  1966          3          1           4
185          Portugal   Brazil  1966          3          1           4
229           Uruguay   Brazil  1970          1          3           4
242          Scotland   Brazil  1974          0          0           0
244             Zaire   Brazil  1974          0          3           3
259         Argentina   Brazil  1974          1          2           3
262       Netherlands   Brazil  1974          2          0           2
304         Argentina   Brazil  1978          0          0           0
352         Argentina   Brazil  1982          1          3           4
353             Italy   Brazil  1982          3          2           5
379             Spain   Brazil  1986          0          1           1
383  Northern Ireland   Brazil  1986          0          3           3
510       Netherlands   Brazil  1994          2          3           5
514            Sweden   Brazil  1994          0          1           1
597        Costa Rica   Brazil  2002          2          5           7
644           Germany   Brazil  2002          0          2           2
637           England   Brazil  2002          1          2           3
679             Japan   Brazil  2006          1          4           5
749          Portugal   Brazil  2010          0          0           0
765       Netherlands   Brazil  2010          2          1           3
777          Cameroon   Brazil  2014          1          4           5
865            Serbia   Brazil  2018          0          2           2