In [7]:
import pandas as pd

In [8]:
from string import ascii_uppercase as alphabet

In [9]:
import pickle

In [10]:
all_tables= pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [11]:
dict_table={}

In [12]:
all_tables[9]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1  Netherlands    3  2  1  0   5   1  +4    7  Advanced to knockout stage
1    2      Senegal    3  2  0  1   5   4  +1    6  Advanced to knockout stage
2    3      Ecuador    3  1  1  1   4   3  +1    4                         NaN
3    4    Qatar (H)    3  0  0  3   1   7  −6    0                         NaN

In [13]:
for lettre, i in zip(alphabet, range(9, 65,7)):
   df= all_tables[i]
   df.rename(columns={df.columns[1]:'Team'}, inplace=True)
   df.pop('Qualification')
   dict_table[f'Group {lettre}']=df

In [14]:
dict_table['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [6]:
with open('dict_table','wb') as output:
    pickle.dump(dict_table,output)